<p id="notice"><%= notice %></p>

<p>
  <strong>Search:</strong>
  <%= @milddew_imm_search.search_id %>
</p>

<p>
  <strong>Milddew imm:</strong>
  <%= @milddew_imm_search.milddew_imm_id %>
</p>

<%= link_to 'Edit', edit_milddew_imm_search_path(@milddew_imm_search) %> |
<%= link_to 'Back', milddew_imm_searches_path %>
