<% title "Types" %>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
  <% for type in @types %>
    <tr>
      <td><%= type.name %></td>
      <td><%= type.description %></td>
      <td><%= link_to "Show", type %></td>
      <td><%= link_to "Edit", edit_type_path(type) %></td>
      <td><%= link_to "Destroy", type, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Type", new_type_path %></p>
