<% title "Type" %>

<p>
  <strong>Name:</strong>
  <%= @type.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @type.description %>
</p>

<p>
  <%= link_to "Edit", edit_type_path(@type) %> |
  <%= link_to "Destroy", @type, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", types_path %>
</p>
