<p id="notice"><%= notice %></p>

<p>
  <strong>Search:</strong>
  <%= @leaf_spot_imm_search.search_id %>
</p>

<p>
  <strong>Leaf spot imm:</strong>
  <%= @leaf_spot_imm_search.leaf_spot_imm_id %>
</p>

<%= link_to 'Edit', edit_leaf_spot_imm_search_path(@leaf_spot_imm_search) %> |
<%= link_to 'Back', leaf_spot_imm_searches_path %>
