<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @milddew_imm.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @milddew_imm.description %>
</p>

<%= link_to 'Edit', edit_milddew_imm_path(@milddew_imm) %> |
<%= link_to 'Back', milddew_imms_path %>
