<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @leaf_spot_imm.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @leaf_spot_imm.description %>
</p>

<%= link_to 'Edit', edit_leaf_spot_imm_path(@leaf_spot_imm) %> |
<%= link_to 'Back', leaf_spot_imms_path %>
