<h1>Listing freeze_imms</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @freeze_imms.each do |freeze_imm| %>
      <tr>
        <td><%= freeze_imm.name %></td>
        <td><%= freeze_imm.description %></td>
        <td><%= link_to 'Show', freeze_imm %></td>
        <td><%= link_to 'Edit', edit_freeze_imm_path(freeze_imm) %></td>
        <td><%= link_to 'Destroy', freeze_imm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Freeze imm', new_freeze_imm_path %>
