<h1>Listing fragrance_searches</h1>

<table>
  <thead>
    <tr>
      <th>Search</th>
      <th>Fragrance</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fragrance_searches.each do |fragrance_search| %>
      <tr>
        <td><%= fragrance_search.search_id %></td>
        <td><%= fragrance_search.fragrance_id %></td>
        <td><%= link_to 'Show', fragrance_search %></td>
        <td><%= link_to 'Edit', edit_fragrance_search_path(fragrance_search) %></td>
        <td><%= link_to 'Destroy', fragrance_search, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fragrance search', new_fragrance_search_path %>
