<h1>Listing height_searches</h1>

<table>
  <thead>
    <tr>
      <th>Search</th>
      <th>Height</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @height_searches.each do |height_search| %>
      <tr>
        <td><%= height_search.search_id %></td>
        <td><%= height_search.height_id %></td>
        <td><%= link_to 'Show', height_search %></td>
        <td><%= link_to 'Edit', edit_height_search_path(height_search) %></td>
        <td><%= link_to 'Destroy', height_search, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Height search', new_height_search_path %>
